body {
    color: #666;
    border-color: #666;
    margin: 0;
}

header {
    border-bottom: 1px solid;
    text-align: center;
}

main {
    width: 800px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}

#drow-area {
    border: 1px solid;
    border-color: #666;
}

.res-image-table {
    display: flex;
    justify-content: space-between;
}

#res-image {
    height: 280px;
    width: 280px;
    border: 1px solid;
}

.res-table {
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    border: none;
    height: 40px;
    width: 120px;
    background-color: #ccc;
    border-radius: 10px;
    color: inherit;
}

button:hover {
    cursor: pointer;
}